*{
    letter-spacing:0.8px;
    line-height:1.5em;
}
P.REDRED{
    color: red;
    font-size: 40px;
    text-align:left;
    text-indent: 2em;
}
 .BLUEBLUE{
    background-color: aquamarine;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
}