*{
    letter-spacing:0.8px;
    line-height:1.5em;
}
.p{
    color: red;
    font-size: 30px;
    text-align:left;
    text-indent: 2em;

}
.p{
   background-color: aquamarine;
}
*{
    font-family: "Noto Serif TC", serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ 
    font-family: "Noto Serif TC", serif;
    }
.ec_icon{
    color: forestgreen;
}
.ec_icon:hover{
    background-color: cornflowerblue;   
    color: white;
}
.petertable{
    table-layout: auto;
    width: 90%;
    background-color: cornflowerblue;
    margin:auto;
    }
.petertable th{
    text-align: center; 
    background-color: aquamarine;
    border: none;
}
.petertable td{
    text-align: center;  
    background-color: darkseagreen;
    border:none;  
}
.carousel {
    border:10px orange solid;
    padding:5px red;
    width:300px;    
    margin: 15px;
    }
  .tenor-gif-embed{
    border: 20px greenyellow solid;
    padding: 50px red ;   
    width:60px;
    margin:auto;
  }
.list-group{
    padding: 20PX;
}
