body{
    background-color:beige;
    margin:0;
    padding:0;
    animation: background-color infinite 10s;
}
h1{
     font-family:cursive;
    font-size: 24px;
    color: darkseagreen;
    text-indent: 2em;
    }
h2{
    font-family:cursive;
    font-size: 24px;
    color: gold;
    background-color: 		#00ff00;
   
}
p{
    font-family:cursive;
    font-size: 26px;
    color: bule;
    text-indent: 2em;
}
